<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.orange.min.css">
    <title>Error - {{err_reason}}</title>
</head>
<body>
    {{> header}}
    <main class="container">
        <h1>Error - {{err_reason}}</h1>

        <strong>Entered URI: {{uri}}</strong><br/>

        <a href="/">Go to main page</a>
    </main>
</body>
</html>