<header>
    <div class="container-fluid">
        <nav>

            <ul>
                <li><strong>TodoApp - Create own To-Do list</strong></li>
            </ul>
            {{#if authorized }}
            <ul>
                <li>Hey</li>
            </ul>
            {{else}}
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>

            {{/if}}
        </nav>
    </div>
</header>